footer.footer
    .footer__section.footer__section_top
        nav.footer-menu
            ul.footer-menu__list
                each href, title in pages
                    li.footer-menu__item
                        a(href="#{href}").footer-menu__link= title
        .footer__social
            .social.social_light
                ul.social__list
                    each href, name in social
                        li.social__item
                            a(href="#{href}").social__link
                                +icon(name + '_round','social__icon')
    .footer__section.footer__section_bottom
        .footer__about
            |Я веб-разработчик из Москвы, и этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool.
        .footer__copy
            .copy
                span.copy__person © Ольга Петренко
                |  создано с любовью в LoftSchool | 2016