header.header
    .header__wrap
        .header__top
            .social.social_light
                ul.social__list
                    each href, name in social
                        li.social__item
                            a(href="#{href}").social__link
                                +icon(name,'social__icon')
            a(href="#").fullscreen-menu-btn#menu_btn
                span.fullscreen-menu-btn__icon
                //+icon('hamburger','fullscreen-menu-btn__icon')
            nav.fullscreen-menu#menu
                ul.fullscreen-menu__list
                    each href, title in pages
                        li.fullscreen-menu__item
                            a(href="#{href}").fullscreen-menu__link= title
        .header__bg-text
            +icon('portfolio_header','header__bg-text-svg')
        .header__info
            .header__info-wrap
                .person.person_light
                    .person__ava
                        img(src='./assets/img/content/ava.jpg', alt='Аватар').person__img
                    .person__name Петренко Ольга
                    .person__content Личный сайт веб разработчика
        .page-move.page-move__next-screen
            a(href="#").page-move__link#next_screen
                +icon('arrow_down','page-move__icon')
    .header__triangle.header__triangle_left
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 100 100', preserveaspectratio='none').header__triangle-svg
            polygon(points='0,0  0,100  100,100')
    .header__triangle.header__triangle_right
        svg(xmlns='http://www.w3.org/2000/svg', xmlns:xlink='http://www.w3.org/1999/xlink', viewbox='0 0 100 100', preserveaspectratio='none').header__triangle-svg
            polygon(points='100,0  100,100 0,100')