.about {
  display: flex;
  &__skills {
    max-width: 830px;
    &-content {
      margin: 0 auto $gutter*2;
      @include laptop {
        max-width: 470px;
      }
    }
  }
  &__col {
    flex: 1;
    padding: 0 $gutter*2 $gutter*2;
    @include tablets {
      padding: 0 $gutter/2 $gutter;
    }
    &_left {
      background-color: $bg-color-2;
      display: flex;
      flex-direction: column;
      align-items: center;
      @include widescreen {
        flex-direction: row;
        align-items: flex-start;
        justify-content: flex-end;
      }
    }
    &_right {
      background-color: $bg-color-3;
    }
  }
  &__title {
    .base-title {
      margin-top: $gutter*1.5;
      @include laptop {
        margin-top: $gutter*2;
      }
    }
    @include widescreen {
      width: auto;
    }
  }
  &__desc {
    max-width: 470px;
    @include widescreen {
      margin: $gutter 0 0 $gutter*3;
    }
    &-img {
      @include tablets {
        margin: 0 (-$gutter/2);
      }
    }
  }
  @include laptop {
    flex-direction: column;
  }
}