$blog-width: 1560;
.blog-section {
  display: flex;
  margin: 0 auto $gutter*3;
  max-width: $blog-width+px;
  &__left {
    flex: none;
    max-width: 28%;
    padding-top: $gutter*3;
    width: 280px;
    @include tablets {
      margin: 0;
      width: 0;
    }
  }
  &__right {
    padding-top: $gutter*3;
    margin: 0 (120/$blog-width)*100%;
    max-width: 980px;
  }
}

.blog-nav {
  position: relative;
  text-align: right;
  transition: (all .1s ease);
  @include tablets {
    background-color: $primary-color;
    box-shadow: 3px 0 3px rgba(#000, .2);
    display: flex;
    align-items: center;
    position: fixed;
    left: -280px;
    top: 0;
    bottom: 0;
    width: 280px;
    &.open {
      left: 0;
    }
    &__tggl {
      height: 48px;
      margin-top: -24px;
      overflow: hidden;
      position: absolute;
      top: 50%;
      right: -18px;
      width: 18px;
      &:before {
        background-color: $primary-color;
        border-radius: 50%;
        content: '';
        margin-top: -30px;
        position: absolute;
        top: 50%;
        right: 6px;
        height: 60px;
        width: 60px;
      }
    }
  }
  &__list {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    transition: all .5s ease;
    @include tablets {
      position: static;
    }
  }
  &__item {
    margin-bottom: $gutter/2;
  }
  &__link {
    border-right: 3px solid transparent;
    display: block;
    color: $text-color;
    font-weight: 500;
    line-height: 26px;
    padding: 8px $gutter;
    &_active,
    &:hover {
      border-color: $primary-color;
      color: $primary-color;
    }
    @include tablets {
      color: rgba($light-color, .7);
      margin-right: $gutter;
      padding-right: 0;
      &_active,
      &:hover {
        color: $light-color;
      }
    }
  }
}

.blog {
  &__item {
    border-bottom: 5px solid rgba($dark-color, .07);
    margin-bottom: $gutter*3;
    padding-bottom: $gutter*3;
    &:last-child {
      border-bottom: 0;
    }
    @include tablets {
      margin-bottom: $gutter*2;
      padding-bottom: $gutter*2;
    }
    @include phones {
      margin-bottom: $gutter*1.5;
      padding-bottom: $gutter*1.5;
    }
  }
  &__title {
    font-family: $font-family-heading;
    font-size: 35px;
    margin-bottom: .5em;
    @include tablets {
      font-size: 30px;
    }
    @include phones {
      font-size: 21px;
    }
  }
  &__date {
    color: $primary-color;
    margin-bottom: 1em;
  }
}