.contacts {
  background-color: rgba($primary-color, .3);
  height: 100vh;
  padding-bottom: 250px;
  box-sizing: content-box;
  margin-bottom: -250px;
  min-height: 380px;
  position: relative;
  &__map {
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  &__info {
    @extend %centered-self;
    margin-top: -125px;
    @include phones {
      top: 0;
      left: 0;
      right: 0;
      transform: none;
      margin: 0;
      .panel {
        border-radius: 0;
        width: 100%;
      }
    }
  }
  &__item {
    display: flex;
    margin-bottom: $gutter;
    &:last-child {
      margin-bottom: 0;
    }
    &-icon {
      text-align: center;
      width: $gutter*2;
      .icon {
        fill: $primary-color;
      }
    }
    &-text {
      flex: 1;
    }
  }
}