.contacts {
  background-color: rgba($primary-color, .3);
  height: 100vh;
  min-height: 380px;
  position: relative;
  &__map {
    height: 100%;
  }
  &__info {
    @extend %centered-self;
    @include phones {
      top: 0;
      left: 0;
      right: 0;
      transform: none;
      .panel {
        border-radius: 0;
        width: 100%;
      }
    }
  }
  &__item {
    display: flex;
    margin-bottom: $gutter;
    &:last-child {
      margin-bottom: 0;
    }
    &-icon {
      text-align: center;
      width: $gutter*2;
      .icon {
        fill: $primary-color;
      }
    }
    &-text {
      flex: 1;
    }
  }
}