.contacts {
  background-color: rgba($primary-color, .3);
  height: 100vh;
  min-height: 380px;
  position: relative;
  &__map {
    height: 100%;
  }
  &__info {
    background-color: rgba($light-color, .85);
    border-radius: $border-radius-base;
    padding: 0 $gutter*2 $gutter;
    width: 380px;
    @extend %centered-self;
  }
  &__item {
    display: flex;
    margin-bottom: $gutter;
    &-icon {
      text-align: center;
      width: $gutter*2;
      .icon {
        fill: $primary-color;
      }
    }
    &-text {
      flex: 1;
    }
  }
}