.panel {
  border-radius: $border-radius-base;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 380px;
  &__blur {
    filter: blur(5px);
    position: absolute;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
  }
  &__title {
    .base-title {
      margin-top: 0;
    }
  }
  &__content {
    @extend %clearfix;
    padding: $gutter*1.5 $gutter;
    position: relative;
    .panel_theme_light & {
      background-color: rgba($light-color, .85);
    }
    .panel_theme_blur & {
      background-color: rgba($light-color, .15);
    }
  }
  &__fields {
    margin-bottom: -$gutter;
  }
  &__actions {
    &-list {
      display: flex;
    }
    &-item {
      flex: auto;
    }
    &-link {
      @extend %btn;
      background-color: rgba($primary-color, .85);
      color: $light-color;
      display: block;
      position: relative;
      width: 100%;
      &:before {
        background-color: rgba($bg-color-1, .4);
        content: '';
        height: 100%;
        position: absolute;
        left: 0;
        width: 2px;
        .panel__actions-item:first-child & {
          display: none;
        }
      }
      &:hover {
        background-color: rgba($primary-color-dark, .85);
      }
    }
  }
  @include tablets {
    width: 350px;
  }
  @include phones {
    width: 300px;
  }
}