.person {
  text-align: center;
  &_light {
    color: $light-color;
    .person__name {
      font-size: 35px;
    }
    .person__content {
      font-weight: 300;
    }
  }
  &__ava {
    border-radius: 50%;
    height: 140px;
    margin: 0 auto 15px;
    overflow: hidden;
    width: 140px;
  }
  &__name {
    font-size: 28px;
    font-weight: 500;
    @include phones {
      font-size: 21px;
    }
  }
  &__content {

  }
}