.slider {
  @extend %clearfix;
  background-color: $bg-color-2;
  display: flex;
  height: 100vh;
  min-height: 650px;
  @include tablets() {
    display: block;
    height: auto;
    min-height: 0;
  }
  &__left {
    @extend %centered-content;
    flex: 1;
    flex-direction: column;
    position: relative;
  }
  &__display {
    background-color: $bg-color-3;
    height: 70%;
    padding: 10%;
    position: absolute;
    top: 0;
    left: 100%;
    text-align: center;
    width: 100%;
    z-index: 1;
    &-img {
      @extend %centered-self;
    }
    @include tablets() {
      & {
        position: static;
        height: auto;
        &-img {
          position: static;
          transform: none;
        }
      }
    }
  }
  &__info {
    max-width: 420px;
    text-align: center;
    &-title {
      margin-top: 0;
    }
    &-skills {
      border-top: 1px solid rgba($primary-color, .3);
      border-bottom: 1px solid rgba($primary-color, .3);
      color: $primary-color;
      max-width: 420px;
      margin: 0 auto $gutter*2;
      padding: 15px 0;
      text-transform: uppercase;
      @include phones {
        margin-bottom: $gutter;
        padding: 5px 0;
      }
    }
    @include tablets {
      & {
        max-width: 100%;
        padding: 10%;
        width: 100%;
      }
    }
    @include phones {
      padding: $gutter*1.5 0;
    }
  }
  &__right {
    flex: 1;
    position: relative;
  }
  &__controls {
    display: flex;
    height: 30%;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    @include tablets {
      height: 210px;
      position: static;
    }
    @include phones {
      height: 90px;
    }
    &-item {
      flex: 1;
      position: relative;
      &:after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;
      }
      &_prev {
        &:after {
          background-color: rgba($bg-color-2-dark, .7);
        }
      }
      &_next {
        &:after {
          background-color: rgba($bg-color-3-dark, .5);
        }
        .icon {
          transform: rotate(180deg) translate(50%, 50%);
        }
      }
    }
    &-img {
      max-height: 90%;
      max-width: 90%;
      @extend %centered-self;
    }
    &-arr {
      @extend %centered-self;
      fill: $light-color;
      height: 27px;
      z-index: 1;
      width: 43px;
    }
  }
}