.welcome-page {
  background: url("../img/skin/mountains.jpg") no-repeat 50% 0;
  background-size: cover;
  padding: $gutter;
  .main {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @include phones {
    padding: $gutter/2;
  }
}

.welcome {
  margin: $gutter 0;
  &-social {
    margin-top: 35px;
    text-align: center;
  }
  &__front,
  &__back {
    float: left;
    position: relative;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: all .4s ease-in-out;
  }
  &__front {
    transform: rotateX(0) rotateY(0);
    z-index: 2;
    .flip & {
      transform: rotateY(180deg);
    }
  }
  &__back {
    margin-left: -380px;
    transform: rotateY(-180deg);
    z-index: 1;
    .flip & {
      transform: rotateX(0) rotateY(0);
      z-index: 3;
    }
    @include tablets {
      margin-left: -350px;
    }
    @include phones {
      margin-left: -300px;
    }
  }
}

.authorization {
  text-align: center;
  &__captcha {
    margin-bottom: $gutter;
  }
  &__extra-captcha {
    &-title {
      font-weight: bold;
      margin-bottom: $gutter/2;
    }
  }
}

.auth-top {
  text-align: right;
  &__btn {
    width: 180px;
    &_hidden {
      visibility: hidden;
    }
  }
  @include phones {
    text-align: center;
    &__btn {
      width: auto;
    }
  }
}

.welcome-copy {
  color: $light-color;
  font-weight: 300;
  margin: $gutter 0;
  text-align: center;
  @include tablets {
    font-size: 14px;
  }
  @include tablets {
    .copy__person {
      display: block;
      &:after {
        content: '';
      }
    }
  }
}