@font-face {
  font-family: 'BERNIERRegular';
  src: url('../fonts/bernier/BERNIERRegular.eot');
  src: url('../fonts/bernier/BERNIERRegular.woff2') format('woff2'),
  url('../fonts/bernier/BERNIERRegularr.woff') format('woff'),
  url('../fonts/bernier/BERNIERRegular.ttf') format('truetype'),
  url('../fonts/bernier/BERNIERRegular.svg#BERNIERRegular') format('svg'),
  url('../fonts/bernier/BERNIERRegular.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
