.base-title {
  @extend %base-title-s;
  text-align: center;
  &_l {
    @extend %base-title-l;
  }
  &_light {
    color: $light-color;
    .base-title__text {
      &:before,
      &:after {
        background-color: rgba($light-color, .2);
      }
    }
  }
  &__text {
    display: inline-block;
    padding: 0 50px;
    position: relative;
    vertical-align: top;
    &:before,
    &:after {
      background-color: rgba($dark-color, .2);
      content: '';
      height: 5px;
      position: absolute;
      top: .5em;
      width: 22px;
    }
    &:before {
      left: 7px;
    }
    &:after {
      right: 7px;
    }
  }
}