.svg-about_header-dims {
	width: 498.161px;
	height: 175.44px;
}

.svg-arrow_down-dims {
	width: 25.18px;
	height: 16.164px;
}

.svg-blog_header-dims {
	width: 302.193px;
	height: 208.012px;
}

.svg-check-dims {
	width: 18.164px;
	height: 13.922px;
}

.svg-envelope-dims {
	width: 22.012px;
	height: 17.295px;
}

.svg-github-dims {
	width: 26px;
	height: 22px;
}

.svg-github_round-dims {
	width: 50px;
	height: 50px;
}

.svg-hamburger-dims {
	width: 40px;
	height: 35px;
}

.svg-in-dims {
	width: 24px;
	height: 22.938px;
}

.svg-in_round-dims {
	width: 50px;
	height: 50px;
}

.svg-link-dims {
	width: 19.125px;
	height: 19.125px;
}

.svg-login-dims {
	width: 14.137px;
	height: 15.422px;
}

.svg-map_marker-dims {
	width: 15.151px;
	height: 21.654px;
}

.svg-password-dims {
	width: 16.897px;
	height: 15.984px;
}

.svg-phone-dims {
	width: 18.864px;
	height: 18.863px;
}

.svg-portfolio_header-dims {
	width: 1175.495px;
	height: 313.961px;
}

.svg-quote-dims {
	width: 33px;
	height: 28px;
}

.svg-skype-dims {
	width: 24px;
	height: 24px;
}

.svg-vk-dims {
	width: 30.011px;
	height: 17.123px;
}

.svg-vk_round-dims {
	width: 50px;
	height: 50px;
}

.svg-works_header-dims {
	width: 505.101px;
	height: 165.036px;
}

