.svg-check-dims {
	width: 18.164px;
	height: 13.922px;
}

.svg-github-dims {
	width: 26px;
	height: 22px;
}

.svg-in-dims {
	width: 24px;
	height: 22.938px;
}

.svg-login-dims {
	width: 14.137px;
	height: 15.422px;
}

.svg-password-dims {
	width: 16.897px;
	height: 15.984px;
}

.svg-vk-dims {
	width: 30.011px;
	height: 17.123px;
}

