.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  &.one-screen {
    height: 100vh;
  }
}

.main {
  flex: 1 0 auto;
}

.page-move {
  text-align: center;
  margin-bottom: 10vh;
  &__go-up {
    margin-top: 10vh;
    .icon {
      transform: rotate(180deg);
    }
  }
  &__link {
    opacity: .7;
    position: relative;
    z-index: 1;
    &:hover {
      opacity: 1;
    }
  }
  &__icon {
    fill: $light-color;
  }
}